*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
}
span{
    color: gray;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    gap: 30px;
}
.btn{
    padding: 10px;
    background-color: #CAA892;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.text{
    font-size: 28px;
    gap: 30px;
    margin: 20px;
}
.text p{
    margin: 20px;
    gap: 10px;
    width: 591px;
    }
.text h1{
    font-size: 73px;
    font-weight: 600;
}
.hero2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.btn2{
    padding: 10px;
    background-color: #37806B;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.hero img{
    border-radius: 110px 0  110px 0;
}

.service {
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
    padding: 40px 0;
}

.service h2 {
    font-size: 24px;
    margin-bottom: 35px;
}
.bola {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.box {
    width: 450px;
    background: #fff;
    padding: 25px;
    border-radius: 0 40px 40px 0;
    box-shadow: 0px 8px 20px 0px #00000024;
}
.box h3 {
    font-size: 16px;
    margin-bottom: 10px;
}
.box p {
    font-size: 12px;
    color: #777;
}
.box-2 {
    box-shadow: 0px 8px 20px 0px #00000024;
    width: 450px;
    background: #F8F8F8;
    color: black;
    border-radius: 40px 0 40px 0;
}
.work h1{
    margin-top: 20px;
}
.work{
    background-color: #F8F8F8;
}
.box3{
    background-color: #FFFFFF;
    height: 90px;
    box-shadow: 0px 13px 16px 0px #0000001A;
    width: 130px;
    border-radius: 0 20px 0 20px;

}
.box2{
    height: 90px;
    width: 130px;
    box-shadow: 0px 13px 16px 0px #0000001A;
    background-color: #FFFFFF;
    border-radius: 0 20px 0 20px;
}

.ota{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
    padding: 40px 0;
    gap: 70px;
}
.text3{
    text-align: center;
}
.bola4 img{
        border-radius: 110px 0  110px 0;
}
.our h1{
    text-align: center;
    margin-top: 50px;
}

footer{
    padding: 100px 0;
}
footer .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer p{
    margin-top: 30px;
}
.fp{
   width: 400px;
}
input{
    padding: 10px;
    width: 250px;
    border: 1px solid gray;
    margin-top: 20px;
}
.btn7 i{
    color: green;
}
.box2:hover{
    background-color: #2EB69B;
    color: white;
}
.box3:hover{
    background-color: #2EB69B;
    color: white;
}
.box-2:hover{
    background-color: #CAA892;
    color: white;
}
.box:hover{
    background-color: #CAA892;
    color: white;
}